/*! Fichier pour la déclaration des éléments globaux au site: variables, fonts, etc ...*/

/* Déclaration de la police (font) : */

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! solution pour problème de font-weight */

@font-face {
  font-family: "Raleway-bold";
  src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}


* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Marge externe de la page */
header,
main {
  margin: 0px 50px;
  padding-top: 2px;
}

/* Fixation du header */
header{
  position:fixed;
  width: 95%;
  top:0;
  background-color: white; 
  padding-bottom: 30px;
}

/* Décalage des sections pour alignement bas du header */
section{
  padding-top:430px;
}