/*! Fichier CSS principal, nommage en méthode BEM : Block - Element - Modifier */

/** Style du header */

/* Réglages Logo */
.logo {
  width: 110px;
  margin-top: 40px;
}

/* Réglages du bloc navigation */
nav {
  display: flex;
  justify-content: space-between;
}

/* Réglages de la liste de navigation */
nav ul {
  display: flex;
  flex-direction: row; /*? A voir si nécessaire */
}

/* Réglages des lignes de la navigation */
nav ul li {
  margin-top: 40px;
}

nav ul li a {
  padding: 40px 25px 0px 25px;
}

nav ul li :hover {
  border-top: 20px solid #0065fc;
  color: #0065fc;
}

/* Réglages des lignes de la navigation : Spécification "S'inscrire" */
.registration{
  font-family: "Raleway-bold"; 
  /*?font-weight: bold;  Semble ne pas fonctionner ... je ne comprends pas pourquoi */
  color: #0065fc;
}


nav ul li:nth-child(3) a {
  font-family: "Raleway-bold";
  /*?font-weight: bold;  Semble ne pas fonctionner ... je ne comprends pas pourquoi ?*/
  color: #0065fc;
}

nav ul li:nth-child(3) :hover {
  color: #deebff;
}

/* Réglages titre */

h1 {
  font-family: "Raleway-bold";
  font-size: 1.6em;

  margin: 35px 0px 10px 0px;
}

/** Style du footer */

footer {
  display: flex;
  justify-content: space-between;

  padding: 40px 340px 45px 45px;
  background-color: #f2f2f2;
}

/* Block FooterList */
.FooterList__tittle {
  font-family: "Raleway-bold";
  /*?font-weight: bold;  Semble ne pas fonctionner ... je ne comprends pas pourquoi ?*/
  font-weight: bold;
  margin-bottom: 15px;
}

.FooterList__lign {
  margin-bottom: 5px;
  font-size: 1em;
}

.FooterList__lign:hover {
  color: #0065fc;
}




