/*! Fichier CSS principal, nommage en méthode BEM : Block - Element - Modifier */

/** Style du header */


/* Réglages du bloc navigation */
nav{
display: flex;
justify-content: space-between;
}

/* Réglages de la liste de navigation */
nav ul{
  display: flex;
  flex-direction: row; /*? A voir si nécessaire */ 
}

/* Réglages des lignes de la navigation */

nav ul li {
  margin-top: 40px; 
}

nav ul li a{
  padding: 40px 25px 0px 25px;
}

nav ul li :hover{
border-top: 20px solid #0065fc;
color: #0065fc;
}

.registration{
  color: #0065fc;
  font-weight: bold;
}

/* Réglages Logo */
.logo {
  width: 110px;
  margin-top: 40px;
}









/*? Style du footer */

footer {
  display: flex;
  justify-content: space-between;

  padding: 40px 340px 45px 45px;
  background-color: #f2f2f2;
}

footer ul :first-child {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 15px;
}

footer ul li {
  font-weight: normal;
  font-size: 0.9em;
  margin-bottom: 5px;
}

footer ul li :hover {
  color: #0065fc;
}
